:root {
    font-size: 64.5%;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
}

header {
    background-color: #e61a23;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 3rem;
}

.title {
    font-size: 12rem;
    color: #FFF;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    flex: 1;
}

#navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #000;
    width: 100%;
}

.navbarButton {
    width: 15rem;
    font-size: 3rem;
    color: #000;
    background-color: #FFF;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.navbarButton:hover {
    background-color: #e2e2e2;
}

.gachaButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.listControlsContainer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.sortingSelector {
    width: 25rem;
    height: 8rem;
    font-size: 5rem;
}

option {
    font-size: 1.8rem;
}

.button {
    border: 2px solid #000;
    border-radius: 2px;
    outline: 2px solid #000;
    outline-offset: 1px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    font-size: 4rem;
}

.button.pull {
    background-color: #30a7d7;
}
.button.pull:hover {
    background-color: #35b2f0;
}

.button.secondary {
    background-color: #4dad5b;
}
.button.secondary:hover {
    background-color: #55c765;
}

#pkmnListContainer {
    margin-top: 5rem;
    display: grid;
    gap: 5rem;
}

.pkmnContainer {
    border: 2px solid #000;
    border-radius: 3px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 3rem 1.2rem 3rem;
}

.pkmnName {
    font-size: 5rem;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
    padding-top: 0.5rem;
}
.pkmnName::first-letter {
    text-transform: capitalize;
}
.shinyName {
    color: #EFBF04;
}

.pkmnImg {
    height: 50rem;
    border: 1px solid #000;
    background-color: #FFF;
}

.abilityContainer {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.3rem;
    border-radius: 4px;
    background-color: #000;
}

.abilityName {
    margin: 0 1rem;
    font-size: 3.5rem;
    color: #FFF;
}

.movesContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 0;
    margin-top: 2rem;
    width: 100%;
}

.pkmnMove {
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
    font-size: 4rem;
}
.pkmnMove::first-letter {
    text-transform: capitalize;
}

li {
   list-style: none;
}

footer {
    background-color: #1f1f1f;
    padding: 5rem;
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 7rem;
    }

    .navbarButton {
        font-size: 2rem;
        width: 20rem;
    }

    .button {
        font-size: 3rem;
    }

    #pkmnListContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 66vw;
    }

    .pkmnContainer {
        width: fit-content;
    }

    .pkmnName {
        font-size: 1.8rem;
    }

    .pkmnImg {
        height: 15rem;
    }

    .abilityContainer {
        margin-top: 1rem;
    }

    .abilityName {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }

    .movesContainer {
        margin-top: 1rem;
    }

    .pkmnMove {
        color: #FFF;
        text-shadow: 1px 1px 2px #000;
        font-size: 1.8rem;
    }
}

